[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/gokarna-theme/gokarna-hugo.git
[submodule "themes/congo"]
	path = themes/congo
	url = https://github.com/jpanther/congo.git
	branch = stable
